# Hourly scraping
name: Scraping Portuguese retailers locations

# Controls when the action will run.
on:
  #push:
  #  branches: main
  #schedule:
  #  - cron: '0 10 16 * *'

jobs:
  autoscrape:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Load repo and install R
    #steps:
    #- uses: actions/checkout@master
    #- uses: r-lib/actions/setup-r@master
    
    steps:
    - uses: actions/checkout@v3
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.2.2'

    # Set-up R
    - name: Install packages
      run: |
        R -e 'install.packages("httr")'
        R -e 'install.packages("dplyr")'
        R -e 'install.packages("jsonlite")'
        R -e 'install.packages("rjson")'
        R -e 'install.packages("RCurl")'
        R -e 'install.packages("reshape2")'
        R -e 'install.packages("tidyjson")'
        R -e 'install.packages("rlist")'
        R -e 'install.packages("rvest")'
    # Run R script
    - name: Store Locations
      run: Rscript storeLocations.R

    # Add new files in data folder, commit along with other modified files, push
    - name: Commit files
      run: |
        git config --local user.name github-actions
        git config --local user.email "actions@github.com"
        git add data/*
        git commit -am "GH ACTION Autorun $(date)"
        git push origin main
      env:
        REPO_KEY: ${{secrets.GITHUB_TOKEN}}
        username: github-actions
